.product{
    border: 1px solid rgb(163, 161, 161);
    display:flex;
    border-left: none; 
}
.pro-des{
    margin: 15px;
}
.product h3{
    color:rgb(6, 6, 167)
}
.pro-btn{
    background:#f0c14b;
    padding:10px 50px;
}