.header{
    text-align: center;
}
.logo{
    width: 400px;
}
.header nav{
    background:#000000;
    line-height: 40px;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 4px;
    font-size: 20px;
}
.header nav a:hover{
    background:#928b8b
}
